body {
    background-color: #FAFAF9;
}

.container {
    margin-top: 120px;
}

.content {
    padding-left: 80px;
    width: 580px;
    float: left;
}

.star {

}

.tittle {
    font-family: 'Sora', sans-serif;
    font-size: 36px;
    color: #18181B;

}

.text-tittle {
    font-family: 'Sora', sans-serif;
    font-size: 20px;
    color: #52525A;
    margin-bottom: 40px;
    line-height: 1.5;
}

.done-ring {
    float: left;
}

.text-ring {
    padding-top: 3px;
    font-family: 'Sora', sans-serif;
    font-size: 14px;
    color: #52525A;
    margin-left: 30px;
}

.review {
    overflow: hidden;
}

.review-google {
    margin-top: 10px;
    width: 280px;
    height: 120px;
    margin-right: 55px;
    padding: 30px;
    float: right;
    border: transparent;
    border-radius: 10px;
    background-color: #FFFFFF;
    padding-right: 50px;
    padding-bottom: 50px;
}

.google-tittle {
    font-weight: bold;
}

.review-google p {
    font-size: 16px;
    font-family: 'Sora', sans-serif;
    color: #52525A;
    line-height: 1.5;
}

.google-image {
    width: 80px;
    margin-right: 10px;
    margin-top: 0px;
}

.review-meta {
    width: 280px;
    height: 120px;
    margin-right: 55px;
    padding: 30px;
    float: right;
    border: transparent;
    border-radius: 10px;
    background-color: #FFFFFF;
    padding-right: 50px;
    margin-top: 50px;
    margin-right: 240px;
    padding-bottom: 50px;
}
.review-meta p {
    font-size: 16px;
    font-family: 'Sora', sans-serif;
    color: #52525A;
    line-height: 1.5;
}

.meta-image {
    width: 80px;
    margin-right: 10px;
    margin-top: 0px;
}

.meta-tittle {
    font-weight: bold;
    color: black;
}

.star-fill {
    vertical-align: middle;
    margin-top: -22px;
}